<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Lourdes Yasmin Andrade Sanjuan</h2>
            <h4>correo@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Sensores</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sensor1">Sensor1</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sensor2">Sensor2</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sensor3">Sensor3</a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Herramientas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacto">
        <mat-icon>import_contacts</mat-icon>
        Contacto
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacto">
        <mat-icon>contact_phone</mat-icon>
        Tel
    </a>

</mat-nav-list>